In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("D:\\New folder\\bhai.csv")
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [7]:
dummies = pd.get_dummies(df.town)
merged = pd.concat([df,dummies],axis='columns')
merged=merged.drop(['town'], axis='columns')
merged = merged.drop(['west windsor'], axis='columns')
merged

    area   price  monroe township  robinsville
0   2600  550000                1            0
1   3000  565000                1            0
2   3200  610000                1            0
3   3600  680000                1            0
4   4000  725000                1            0
5   2600  585000                0            0
6   2800  615000                0            0
7   3300  650000                0            0
8   3600  710000                0            0
9   2600  575000                0            1
10  2900  600000                0            1
11  3100  620000                0            1
12  3600  695000                0            1

In [8]:
y = merged.price
x=merged.drop(['price'],axis='columns')
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [15]:
import matplotlib as plt
plt.plot(x,y)

AttributeError: module 'matplotlib' has no attribute 'plot'

In [9]:
from sklearn.linear_model import LinearRegression,LogisticRegression
model = LinearRegression()
logistic_model = LogisticRegression()
model.fit(x,y)
logistic_model.fit(x,y)

LogisticRegression()

In [10]:
model.predict([[3200,0,0]])

C:\Users\Dhrimanti\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([655862.18017631])

In [11]:
logistic_model.predict([[3200,0,0]])

C:\Users\Dhrimanti\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([710000], dtype=int64)

In [12]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()
model.fit(x,y)
model.predict([[3200,0,0]])

C:\Users\Dhrimanti\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([620000.])

In [13]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=100)
model.fit(x,y)
model.predict([[3200,0,0]])

C:\Users\Dhrimanti\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([616050.])

In [17]:
from sklearn.ensemble import GradientBoostingRegressor
model = GradientBoostingRegressor(n_estimators=100)
model.fit(x,y)
model.predict([[3200,0,0]])

C:\Users\Dhrimanti\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GradientBoostingRegressor was fitted with feature names
  warnings.warn(

array([623659.46086615])

In [ ]:
One Hot Encoder

In [14]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [15]:
dfle = df
dfle.town = le.fit_transform(dfle.town)
dfle

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [16]:
X = dfle[['town','area']].values
X

array([[   0, 2600],
       [   0, 3000],
       [   0, 3200],
       [   0, 3600],
       [   0, 4000],
       [   2, 2600],
       [   2, 2800],
       [   2, 3300],
       [   2, 3600],
       [   1, 2600],
       [   1, 2900],
       [   1, 3100],
       [   1, 3600]], dtype=int64)

In [17]:
y = dfle.price.values
y

array([550000, 565000, 610000, 680000, 725000, 585000, 615000, 650000,
       710000, 575000, 600000, 620000, 695000], dtype=int64)

In [18]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([('town', OneHotEncoder(), [0])], remainder = 'passthrough')

In [22]:
categories = ['red', 'blue', 'green', 'blue', 'red', 'green','yellow']

# Create an instance of LabelEncoder


# Fit the encoder to the data and learn the unique categories
me=le.fit(categories)
encoded_labels = le.transform(categories)

In [23]:
encoded_labels

array([2, 0, 1, 0, 2, 1, 3])